.nominheight {
  min-height: 0px !important;
  width: 100%;
  background-color: #EAE6E6;
}

.ActualButton {
  border-radius: 25%;
  background-color: #011A27;
  color: white;
  height: 4em;
width: 5em;
}

.AddPostButtonContainer {
  text-align: -webkit-right;
    margin-right: -41%;
    margin-bottom: 1.5em;
}

.checkboxcontainer {
  width: 70%;
    margin-left: 12%;
}

.MuiDialog-paperWidthSm-11 {
  max-width: none !important;
}

.MuiDialog-paper-9 {
  max-height: none !important;
  background-color: #011827 !important;
  color: white !important;
}
.MuiTypography-title-107 {
  color: white !important;
}
.MuiTypography-title-53{
  color: white !important;
}

.RadioButtonContainer{
  margin-left: -42%;
    margin-right: 42%;
    /* background-color: white; */
    /* color: black; */
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    width: 58%;
}
.TagsContainer {
  background: white;
margin-left: -31%;
width: 70%;
}

.buttonRow {
  margin-left: 86%;
margin-bottom: 2%;
}

.spansandstuff {
  display: flex;
margin-top: 2%;
}

.checkmarks {
  margin-left: 6%;
}
.towrap{
  padding-top: 10px;
}
