.Post{
    background-color: #F5F5F5;
}
.postheader{
    height: 100px;
    line-height: 90px;
    text-align: center;
    font-family : AcuminPro Bold;
    font-weight : bold;
    font-size : 38px;
    letter-spacing : 3.4px;
    color : #2F2F2F ;
    color : rgb(47, 47, 47);
    background-color: #F5F5F5;
    border: 0;
    box-shadow: none !important;
}
.major{
    display: flex !important;
}
.userdetail{
    text-align: center;
    
}
.userfield{
    font-family : Myriad Pro;
    font-size : 17px;
    letter-spacing : 3.4px;
    background-color : #f2f2f2 ;
    color : rgb(47, 47, 47);
    width: 230px;
    margin-top: 13px;
    margin-bottom: 13px;
    
}
.Profilepic{
    display: block;
    margin: auto;
    width: 70%;
}
.profilepic{
    display: block;
    margin: auto;
    width: 230px;
    height:250px;
    margin-bottom: 15px;
}
.contentDiv{
    background-color : #EAE6E6 ;
    padding: 10px;
}
.contenttittle{
    font-family : AcuminPro Bold;
    font-weight : bold;
    font-size : 20px;
    letter-spacing : 8px;
    margin: 20px;
}

.contentbody{
    font-family : Myriad Pro;
    font-size : 17px;
    letter-spacing : 3.4px;
    color : rgb(47, 47, 47);
    margin: 20px;
}
.useinfo{
    display: block;
    margin: auto;
    width: 230px;
}