.ctnr{
        height: 100px;
    background-color: #011827;
    color: white


}
.ctnr1{

    color: white !important;


}
.ctnr2{

        color: yellow !important;


    }
.logo{
    margin-left: 30px;
}