.background {
  background-color: #011A27;
}

.yellowheader {
  color: #E6DF44;
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;

}

.biocontainer {
  width: 75%;
  margin: auto;
}

.profilebio {
  color: white;
  text-align: left;
  font-size: 75%;
  white-space: pre-wrap;
}

.margin {
  margin-left: 60px;
margin-top: 30px;
}

.MuiGrid-spacing-xs-24-23 > .MuiGrid-typeItem-2 {
  padding: 0px;
}
.MuiAvatar-img-13 {
  height: 10em !important;
  width: 10em !important;
}

.tagcontainer {
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
}

.quicklinkscontainer {
  width: 75%;
  padding-top: 20px;
  margin: auto;
  color: white;
}

.profiledetailcontainer {
  background-color: #F5F5F5;
}

.mycommunitiescontainer {
  text-align: center;
}

.CommunityAvatar {
  height: 100;
  width: 100;
}

.MuiAvatar-img-10 {
  border-radius: 50%;
height: -webkit-fill-available;

}

.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('https://www.yireo.com/images/stories/joomla/whitepage.png') center / cover;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.avatar {
    margin: 5;
  }
  .bigAvatar {
    width: 10em;
    height: 10em;
  }
.CircleButton {
  width: 10em;
height: 10em;
border-radius: 50%;
}

.CommunitiesList {
  display: inline;
}

.alignLiText{
  text-align: left !important;
}

.crop {
  width: 100%;
height: 308px;
overflow: hidden;
}

.crop img {
  width: 100%;
  height: 300px;
  margin: -15px 0 0 0px;
}

.mdl-cell--6-col, .mdl-cell--6-col-desktop.mdl-cell--6-col-desktop {
    width: calc(70% - 16px) !important;
    margin-left: 0px !important;
    margin-left:
}

.mdl-cell--3-col, .mdl-cell--3-col-desktop.mdl-cell--3-col-desktop {
  width: calc(25% - 16px) !important;
  margin-right: 0px;
}

.newLine {
  margin-top: 5em;
margin-right: 2em;
width: 16em
}

.listbody {
  height: auto !important;
}

hr {
  width: 92%;
    margin-left: 1em;

}

.AddButton {
  background-color: #E6DF50 !important;
}

.CommunityCards {
  width: 30%;
  display: inline-block;
}
